<button (click)="toggleOthers()">{{!showDown?'Show':'Hide'}} Down</button><br>

<ng-container *ngIf="showDown"> 
<br/>

Number 1 : <input type="number" [(ngModel)]="num1">

Number 2 : <input type="number" [(ngModel)]="num2">
&nbsp;
<button (click)="add(num1,num2)">sum</button>&nbsp;
<!-- Sum of {{num1}} and {{num2}} -->
Result : {{sum}}

<br/>
<!-- Number 1 : <input type="number" name="firstNum" #firstNum  value=0>

Number 2 : <input type="number" name="secondNum" #secondNum value=0>

<button (click)="add(firstNum.value,secondNum.value)">sum</button>

Result :{{sum}} -->
<br/><br/><hr>

<div #div (mouseover)="overDiv()"></div><hr>
<h1 (click)="this.changeName()">Click to change name</h1>
<h3>{{ name }}</h3>
<img [src]="imageUrl"><br><br>
<button (click)="changeImage()" type="button" class="btn btn-primary">Click to change Image</button><br/>

<br/><hr>

<button *ngIf="userLogged">Login</button><br><br>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'" style="color: red;">Red</p>
    <p *ngSwitchCase="'yellow'" style="color: yellow;">Yellow</p>
</div>
<br>
<h2>Departments</h2>
<ul *ngIf="!ishidden">
    <li *ngFor="let dept of depts">{{dept}}</li>
</ul>
<button (click)="hide()">{{ishidden?'Show':'Hide'}} Departments</button>
</ng-container>
